/*-- scss:defaults --*/

// colors
$body-bg: #ffffff !default;
$body-color: #000 !default;
$link-color: #941812 !default;
$selection-bg: #E09C99 !default;
$presentation-heading-color: #e1251b !default;

#TOC {
    font-size: 0.75em;
  }